.input-field label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #444;
}

.input-field input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1.6px solid #c6c6c6;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  margin-top: 6px;
}

.input-field input:focus {
  border-color: #0066ff;
  box-shadow: 0 0 5px rgba(0, 102, 255, 0.2);
}
