.container {
  width: 100%;
  background-image: linear-gradient(#e8fbff21, rgba(0, 0, 0, 0.7)),
    url('https://images.pexels.com/photos/4230617/pexels-photo-4230617.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container form {
  background: #e8fbff;
  padding: 35px 40px;
  width: 500px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title p {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 12px;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.logo img {
  width: 130px;
  max-width: 80%;
  height: auto;
}

.forget-password {
  font-size: 14px;
  color: #0066ff;
  cursor: pointer;
  text-align: right;
}
.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 72%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.eye-icon:hover {
  color: #000;
}

.login-btn button {
  width: 100%;
  padding: 12px;
  background: #0066ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.login-btn button:hover {
  background: #0054d6;
}

.text {
  text-align: center;
}

.text p:nth-child(1) {
  font-size: 14px;
  color: #7a7a7a;
}

.text span {
  color: #0066ff;
  cursor: pointer;
  font-weight: 500;
  padding-left: 6px;
}

@media (max-width: 480px) {
  .container form {
    width: 100%;
    padding: 25px 18px;
  }

  .title p {
    font-size: 20px;
  }

  .email input,
  .password input {
    font-size: 14px;
    padding: 10px 12px;
  }

  .login-btn button {
    font-size: 15px;
    padding: 10px;
  }
}
